
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles%}
    {{ super() }} <!--super() function tells Jinja not to override any code that is defined in the block-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<br>
    <div class="container-fluid" style="font-family: 'Russo One', sans-serif;">
    <div class="row">

        <div class="container" id="block-text">
        <br>
        <br>
        <div class="col-md-6">
        <p style="font-size: 20px; float:left;"> <strong> You have 60 seconds to impress someone. How do we make sure that you use your one minute to actually say something meaningful ? </strong> </p>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <br>
    <h2> <strong>CATEGORIES</strong></h2>
    <strong style="font-size: 20px;">{{ macro.displayCategoryList(category) }} </strong>
    <br>
    <br>


    <h3 class="add-category"><a class="btn btn-primary" href="/add/category" style="background-color:#002457; float:right;"><span aria-hidden="true"> ADD CATEGORY </span></a></h3>
</div>


{% endblock  %}